#contact{
    background-blend-mode: color;
    background-color: #cccccc;
    background-image: radial-gradient(rgb(238, 82, 82), rgb(255, 255, 255));
}

body{
    zoom: 0.85;
    background-image: url("back2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: absolute;
    background-size: cover;
    
}
.opac{    
    position: absolute;
    opacity: 0.5;
    height: 450%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: absolute;
}
h1 {
    font-family: "Lucida", "Brush Script MT", cursive;
    border-radius: 20px;
    font-size:  25px;
}
.font1{
    font-family: "Lucida", "Brush Script MT", monospace;
    font-size:  50px;

  }

h3 {
    font-family: "Lucida", cursive, sans-serif;
    border-radius: 20px;
    font-size:  40px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cornflowerblue;
}

.menu {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    display: block;
    padding: 25px 22px;
}

li {
    float: left;
}

li a {
    text-decoration: none;
    color: rgb(82, 82, 109);
    text-align: center;
    display: block;
    padding: 25px 22px;
    font-size: 23px;
    font-weight: bold;
}

li a:hover {
    background-color: rgb(184, 134, 134);
}

.navb {
  width: 100%;  
  top: 0;
  position: fixed;
}

.navb + .content {
  padding-top: 70px;
}

p{    
    font-family: "Ariel", cursive, sans-serif;
    color:rgb(82, 82, 109);
    font-size:  35px;
}


table{
    font-size:  35px;
    color:rgb(82, 82, 109);
    font-family: "Lucida", cursive, sans-serif;
}

input {
    background-color: #5577c0;
    color: white;
    padding: 10px 21px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

p.contact{
    font-family: "Ariel", cursive, sans-serif;
    color:rgb(82, 82, 109);
    font-size:  35px;
}

input:hover {
    background-color: #aeceaf;
}
